@model BannerVM
@{
    ViewData["Title"] = "Create";
}



<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> Create Banner </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 mb-5">
    
        <form method="post" enctype="multipart/form-data">
            <input asp-for="Banner.Id" hidden />

            <div class="row">

                <div class="col-10">
                    <div class="border p-3">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Banner.Title" class="form-control border-0 shadow" />
                            <label asp-for="Banner.Title" class="ms-2"></label>
                            <span asp-validation-for="Banner.Title" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Banner.Description" class="ms-2 text-muted"></label>
                            <textarea asp-for="Banner.Description" class="form-control border-0 shadow"></textarea>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input type="file" name="file" class="form-control border-0 shadow" />
                            <label asp-for="Banner.ImageUrl" class="ms-2"></label>
                        </div>

                        <div class="row pt-2">

                            <div class="col-6 col-md-3">
                          
                                    <button type="submit" class="btn btn-primary form-control">SAVE</button>
                               

                            

                            </div>
                            <div class="col-6 col-md-3">

                                <a asp-controller="Banner" asp-action="Index" class="btn btn-outline-primary border form-control">
                                    Back To List
                                </a>
                            </div>
                           </div>
        </form>


    </div>


</div>
@section Scripts {

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>

    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}